/*------css reset------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*------header------*/
header {
	background-color: #000000; 
	height:100%;
	width:100%;
	
}
header img{
	margin-left: auto;
	margin-right: auto;
	display: block;
}

/*------navigation------*/
nav {
	float: left;
	width: 15%;
	margin-left:15%;
	margin-top: 20px;
	margin-bottom: 20px;
}

nav ul li a {
	border-radius: 50%;
  	width: 100px;
  	height: 100px; 
  	display: block;
  	background-color: #000000;
  	text-align: center;
  	margin-bottom: 15px;
  	line-height: 100px;
	color: #ffffff;
	text-decoration: none;
  	font-family: 'Cherry Swash', cursive;
}
nav ul li a:hover {
	font-weight: bold;
	color: #000000;
	background-color: #be94d1;
}
/*------content------*/
article {
	width: 55%;
	min-height: 465px;
	float: right;
	margin-right: 15%;
	margin-top: 20px;
	margin-bottom: 15px;
}
article img {
	width: 75%;
}
.clear {
	clear: both;
	width:100%;
}
p{
	font-size: 105%;
	margin-top: 0em;
	margin-bottom: 2em;
}
/*------footer------*/
footer {
	width: 100%;
	background-color: #000000; 	
	height:60px;
}
footer ul {
	font-family: 'Cherry Swash', cursive;
	text-align: center;
	padding-top:23px;
}
footer ul li {
	display: inline;
}

footer ul li a {
	color: #ffffff;
	text-decoration: none;
}
/*------headings------*/
h1 {
	font-family: 'Cherry Swash', cursive;
	font-weight: bold;
	color: #a870c2;
	font-size: 155%;
	text-shadow: 2px 2px 8px rgba(150, 150, 150, 1);
	margin-top: 0em;
	margin-bottom: 1em;
}

	

